
# ---- VisualStudioCode ----
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# ---- macOS ----
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# ---- Python ----
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

zhaimen/video/bilibili_BV1CzkcYWEMD_cleaned.txt
zhaimen/video/bilibili_BV1CzkcYWEMD.mp3
zhaimen/video/bilibili_BV1CzkcYWEMD.txt
zhaimen/video/bilibili_BV1K24y1v7Zy_cleaned.txt
zhaimen/video/bilibili_BV1K24y1v7Zy.mp3
zhaimen/video/bilibili_BV1K24y1v7Zy.txt
zhaimen/video/bilibili_BV1Ku411p7H8_cleaned.txt
zhaimen/video/bilibili_BV1Ku411p7H8.mp3
zhaimen/video/bilibili_BV1Ku411p7H8.txt
zhaimen/video/bilibili_BV1N6HNeqEH4_cleaned.txt
zhaimen/video/bilibili_BV1N6HNeqEH4.mp3
zhaimen/video/bilibili_BV1N6HNeqEH4.txt
zhaimen/video/bilibili_BV1REAJeVEeJ_cleaned.txt
zhaimen/video/bilibili_BV1REAJeVEeJ.mp3
zhaimen/video/bilibili_BV1REAJeVEeJ.txt
zhaimen/video/bilibili_BV1V7BbYBEFV_cleaned.txt
zhaimen/video/bilibili_BV1V7BbYBEFV.mp3
zhaimen/video/bilibili_BV1V7BbYBEFV.txt
zhaimen/video/bilibili_BV1XP4y1z7YK_cleaned.txt
zhaimen/video/bilibili_BV1XP4y1z7YK.mp3
zhaimen/video/bilibili_BV1XP4y1z7YK.txt
zhaimen/video/bilibili_BV1ZEsze8EdE_cleaned.txt
zhaimen/video/bilibili_BV1ZEsze8EdE.mp3
zhaimen/video/bilibili_BV1ZEsze8EdE.txt
zhaimen/video/bilibili_BV15s4y1b7jj_cleaned.txt
zhaimen/video/bilibili_BV15s4y1b7jj.mp3
zhaimen/video/bilibili_BV15s4y1b7jj.txt
zhaimen/video/ytb_Ru0keaEM5qM_cleaned.txt
zhaimen/video/ytb_Ru0keaEM5qM.mp3
zhaimen/video/ytb_Ru0keaEM5qM.txt
zhaimen/website/3189200_cleaned.txt
zhaimen/website/3189200.txt
zhaimen/website/3192104_cleaned.txt
zhaimen/website/3192104.txt
zhaimen/website/3293460_cleaned.txt
zhaimen/website/3293460.txt
zhaimen/website/3309689_cleaned.txt
zhaimen/website/3309689.txt
zhaimen/website/3314873_cleaned.txt
zhaimen/website/3314873.txt
zhaimen/website/3504634_cleaned.txt
zhaimen/website/3504634.txt
zhaimen/website/4640371_cleaned.txt
zhaimen/website/4640371.txt
zhaimen/website/5309939_cleaned.txt
zhaimen/website/5309939.txt
zhaimen/website/5414380_cleaned.txt
zhaimen/website/5414380.txt
zhaimen/website/6072485_cleaned.txt
zhaimen/website/6072485.txt
zhaimen/website/6257170_cleaned.txt
zhaimen/website/6257170.txt
zhaimen/website/7426664_cleaned.txt
zhaimen/website/7426664.txt
zhaimen/website/9044682_cleaned.txt
zhaimen/website/9044682.txt
zhaimen/website/9339230_cleaned.txt
zhaimen/website/9339230.txt
zhaimen/website/9770458_cleaned.txt
zhaimen/website/9770458.txt
zhaimen/website/9813325_cleaned.txt
zhaimen/website/9813325.txt
zhaimen/website/9846925_cleaned.txt
zhaimen/website/9846925.txt
zhaimen/website/9928707_cleaned.txt
zhaimen/website/9928707.txt
zhaimen/website/12130276_cleaned.txt
zhaimen/website/12130276.txt
zhaimen/website/13601278_cleaned.txt
zhaimen/website/13601278.txt
zhaimen/website/13866400_cleaned.txt
zhaimen/website/13866400.txt
zhaimen/website/14058353_cleaned.txt
zhaimen/website/14058353.txt
zhaimen/website/14423082_cleaned.txt
zhaimen/website/14423082.txt
zhaimen/website/14847885_cleaned.txt
zhaimen/website/14847885.txt
zhaimen/website/14978913_cleaned.txt
zhaimen/website/14978913.txt
zhaimen/website/14986566_cleaned.txt
zhaimen/website/14986566.txt
zhaimen/website/15011466_cleaned.txt
zhaimen/website/15011466.txt
zhaimen/website/15015907_cleaned.txt
zhaimen/website/15015907.txt
zhaimen/website/15080925_cleaned.txt
zhaimen/website/15080925.txt
zhaimen/website/15116951_cleaned.txt
zhaimen/website/15116951.txt
zhaimen/website/15127294_cleaned.txt
zhaimen/website/15127294.txt
zhaimen/website/15141610_cleaned.txt
zhaimen/website/15141610.txt
zhaimen/website/15998074_cleaned.txt
zhaimen/website/15998074.txt
zhaimen/website/16082419_cleaned.txt
zhaimen/website/16082419.txt
video/ytb_Ru0keaEM5qM.mp3
video/ytb_Ru0keaEM5qM.txt
final.csv
log_2.txt
log.txt
parsed_data_2.csv
parsed_data_2.json
parsed_data.csv
parsed_data.json
soup.html
video_link.txt
窄门_prompt.md
窄门.md
战略级天使/*
未来简史/*
窄门/*
仿生人会梦见电子羊吗/*
战略级天使2/*
纳瓦尔宝典/*
华为工作法/*
website/chat_history/*
website/book_prompt/华为工作法.md
website/book_prompt/仿生人会梦见电子羊吗.md
website/book_prompt/未来简史.md
website/book_prompt/纳瓦尔宝典.md
.env.local
website/book_prompt/*
