
# ---- VisualStudioCode ----
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# ---- macOS ----
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# ---- Python ----
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

zhaimen/video/bilibili_BV1CzkcYWEMD_cleaned.txt
zhaimen/video/bilibili_BV1CzkcYWEMD.mp3
zhaimen/video/bilibili_BV1CzkcYWEMD.txt
zhaimen/video/bilibili_BV1K24y1v7Zy_cleaned.txt
zhaimen/video/bilibili_BV1K24y1v7Zy.mp3
zhaimen/video/bilibili_BV1K24y1v7Zy.txt
zhaimen/video/bilibili_BV1Ku411p7H8_cleaned.txt
zhaimen/video/bilibili_BV1Ku411p7H8.mp3
zhaimen/video/bilibili_BV1Ku411p7H8.txt
zhaimen/video/bilibili_BV1N6HNeqEH4_cleaned.txt
zhaimen/video/bilibili_BV1N6HNeqEH4.mp3
zhaimen/video/bilibili_BV1N6HNeqEH4.txt
zhaimen/video/bilibili_BV1REAJeVEeJ_cleaned.txt
zhaimen/video/bilibili_BV1REAJeVEeJ.mp3
zhaimen/video/bilibili_BV1REAJeVEeJ.txt
zhaimen/video/bilibili_BV1V7BbYBEFV_cleaned.txt
zhaimen/video/bilibili_BV1V7BbYBEFV.mp3
zhaimen/video/bilibili_BV1V7BbYBEFV.txt
zhaimen/video/bilibili_BV1XP4y1z7YK_cleaned.txt
zhaimen/video/bilibili_BV1XP4y1z7YK.mp3
zhaimen/video/bilibili_BV1XP4y1z7YK.txt
zhaimen/video/bilibili_BV1ZEsze8EdE_cleaned.txt
zhaimen/video/bilibili_BV1ZEsze8EdE.mp3
zhaimen/video/bilibili_BV1ZEsze8EdE.txt
zhaimen/video/bilibili_BV15s4y1b7jj_cleaned.txt
zhaimen/video/bilibili_BV15s4y1b7jj.mp3
zhaimen/video/bilibili_BV15s4y1b7jj.txt
zhaimen/video/ytb_Ru0keaEM5qM_cleaned.txt
zhaimen/video/ytb_Ru0keaEM5qM.mp3
zhaimen/video/ytb_Ru0keaEM5qM.txt
zhaimen/website/3189200_cleaned.txt
zhaimen/website/3189200.txt
zhaimen/website/3192104_cleaned.txt
zhaimen/website/3192104.txt
zhaimen/website/3293460_cleaned.txt
zhaimen/website/3293460.txt
zhaimen/website/3309689_cleaned.txt
zhaimen/website/3309689.txt
zhaimen/website/3314873_cleaned.txt
zhaimen/website/3314873.txt
zhaimen/website/3504634_cleaned.txt
zhaimen/website/3504634.txt
zhaimen/website/4640371_cleaned.txt
zhaimen/website/4640371.txt
zhaimen/website/5309939_cleaned.txt
zhaimen/website/5309939.txt
zhaimen/website/5414380_cleaned.txt
zhaimen/website/5414380.txt
zhaimen/website/6072485_cleaned.txt
zhaimen/website/6072485.txt
zhaimen/website/6257170_cleaned.txt
zhaimen/website/6257170.txt
zhaimen/website/7426664_cleaned.txt
zhaimen/website/7426664.txt
zhaimen/website/9044682_cleaned.txt
zhaimen/website/9044682.txt
zhaimen/website/9339230_cleaned.txt
zhaimen/website/9339230.txt
zhaimen/website/9770458_cleaned.txt
zhaimen/website/9770458.txt
zhaimen/website/9813325_cleaned.txt
zhaimen/website/9813325.txt
zhaimen/website/9846925_cleaned.txt
zhaimen/website/9846925.txt
zhaimen/website/9928707_cleaned.txt
zhaimen/website/9928707.txt
zhaimen/website/12130276_cleaned.txt
zhaimen/website/12130276.txt
zhaimen/website/13601278_cleaned.txt
zhaimen/website/13601278.txt
zhaimen/website/13866400_cleaned.txt
zhaimen/website/13866400.txt
zhaimen/website/14058353_cleaned.txt
zhaimen/website/14058353.txt
zhaimen/website/14423082_cleaned.txt
zhaimen/website/14423082.txt
zhaimen/website/14847885_cleaned.txt
zhaimen/website/14847885.txt
zhaimen/website/14978913_cleaned.txt
zhaimen/website/14978913.txt
zhaimen/website/14986566_cleaned.txt
zhaimen/website/14986566.txt
zhaimen/website/15011466_cleaned.txt
zhaimen/website/15011466.txt
zhaimen/website/15015907_cleaned.txt
zhaimen/website/15015907.txt
zhaimen/website/15080925_cleaned.txt
zhaimen/website/15080925.txt
zhaimen/website/15116951_cleaned.txt
zhaimen/website/15116951.txt
zhaimen/website/15127294_cleaned.txt
zhaimen/website/15127294.txt
zhaimen/website/15141610_cleaned.txt
zhaimen/website/15141610.txt
zhaimen/website/15998074_cleaned.txt
zhaimen/website/15998074.txt
zhaimen/website/16082419_cleaned.txt
zhaimen/website/16082419.txt
video/ytb_Ru0keaEM5qM.mp3
video/ytb_Ru0keaEM5qM.txt
final.csv
log_2.txt
log.txt
parsed_data_2.csv
parsed_data_2.json
parsed_data.csv
parsed_data.json
soup.html
video_link.txt
窄门_prompt.md
窄门.md
战略级天使/战略级天使_prompt.md
战略级天使/战略级天使.md
战略级天使/video/bilibili_BV1aU4y1S7tB_cleaned.txt
战略级天使/video/bilibili_BV1aU4y1S7tB.mp3
战略级天使/video/bilibili_BV1aU4y1S7tB.txt
战略级天使/video/bilibili_BV1Hv4y147f2_cleaned.txt
战略级天使/video/bilibili_BV1Hv4y147f2.mp3
战略级天使/video/bilibili_BV1Hv4y147f2.txt
战略级天使/video/bilibili_BV1jG411u7Ak_cleaned.txt
战略级天使/video/bilibili_BV1jG411u7Ak.mp3
战略级天使/video/bilibili_BV1jG411u7Ak.txt
战略级天使/video/bilibili_BV1TG411J7vT_cleaned.txt
战略级天使/video/bilibili_BV1TG411J7vT.mp3
战略级天使/video/bilibili_BV1TG411J7vT.txt
战略级天使/video/bilibili_BV1tU4y1976X_cleaned.txt
战略级天使/video/bilibili_BV1tU4y1976X.mp3
战略级天使/video/bilibili_BV1tU4y1976X.txt
战略级天使/video/bilibili_BV11Z4y1t7HC_cleaned.txt
战略级天使/video/bilibili_BV11Z4y1t7HC.mp3
战略级天使/video/bilibili_BV11Z4y1t7HC.txt
战略级天使/video/bilibili_BV1514y1n77g_cleaned.txt
战略级天使/video/bilibili_BV1514y1n77g.mp3
战略级天使/video/bilibili_BV1514y1n77g.txt
战略级天使/website/douban_9483609_cleaned.txt
战略级天使/website/douban_9483609.txt
战略级天使/website/douban_9484174_cleaned.txt
战略级天使/website/douban_9484174.txt
战略级天使/website/douban_9486329_cleaned.txt
战略级天使/website/douban_9486329.txt
战略级天使/website/douban_9526781_cleaned.txt
战略级天使/website/douban_9526781.txt
战略级天使/website/douban_9530319_cleaned.txt
战略级天使/website/douban_9530319.txt
战略级天使/website/douban_9530496_cleaned.txt
战略级天使/website/douban_9530496.txt
战略级天使/website/douban_9530508_cleaned.txt
战略级天使/website/douban_9530508.txt
战略级天使/website/douban_9530646_cleaned.txt
战略级天使/website/douban_9530646.txt
战略级天使/website/douban_9530727_cleaned.txt
战略级天使/website/douban_9530727.txt
战略级天使/website/douban_9541804_cleaned.txt
战略级天使/website/douban_9541804.txt
战略级天使/website/douban_9544967_cleaned.txt
战略级天使/website/douban_9544967.txt
战略级天使/website/douban_9622260_cleaned.txt
战略级天使/website/douban_9622260.txt
战略级天使/website/douban_9624219_cleaned.txt
战略级天使/website/douban_9624219.txt
战略级天使/website/douban_9633307_cleaned.txt
战略级天使/website/douban_9633307.txt
战略级天使/website/douban_9639099_cleaned.txt
战略级天使/website/douban_9639099.txt
战略级天使/website/douban_9644240_cleaned.txt
战略级天使/website/douban_9644240.txt
战略级天使/website/douban_9644733_cleaned.txt
战略级天使/website/douban_9644733.txt
战略级天使/website/douban_9653594_cleaned.txt
战略级天使/website/douban_9653594.txt
战略级天使/website/douban_9665107_cleaned.txt
战略级天使/website/douban_9665107.txt
战略级天使/website/douban_9667790_cleaned.txt
战略级天使/website/douban_9667790.txt
战略级天使/website/douban_9672284_cleaned.txt
战略级天使/website/douban_9672284.txt
战略级天使/website/douban_9676019_cleaned.txt
战略级天使/website/douban_9676019.txt
战略级天使/website/douban_9678121_cleaned.txt
战略级天使/website/douban_9678121.txt
战略级天使/website/douban_9722469_cleaned.txt
战略级天使/website/douban_9722469.txt
战略级天使/website/douban_9830382_cleaned.txt
战略级天使/website/douban_9830382.txt
战略级天使/website/douban_12588266_cleaned.txt
战略级天使/website/douban_12588266.txt
战略级天使/website/douban_12662258_cleaned.txt
战略级天使/website/douban_12662258.txt
战略级天使/website/douban_13071695_cleaned.txt
战略级天使/website/douban_13071695.txt
战略级天使/website/douban_13293239_cleaned.txt
战略级天使/website/douban_13293239.txt
战略级天使/website/douban_13685515_cleaned.txt
战略级天使/website/douban_13685515.txt
战略级天使/website/douban_14320176_cleaned.txt
战略级天使/website/douban_14320176.txt
战略级天使/website/douban_14691024_cleaned.txt
战略级天使/website/douban_14691024.txt
战略级天使/website/douban_15706291_cleaned.txt
战略级天使/website/douban_15706291.txt
战略级天使/website/douban_15782181_cleaned.txt
战略级天使/website/douban_15782181.txt
战略级天使/website/douban_15980981_cleaned.txt
战略级天使/website/douban_15980981.txt
战略级天使/website/douban_15990242_cleaned.txt
战略级天使/website/douban_15990242.txt
未来简史/未来简史_prompt.md
未来简史/未来简史.md
未来简史/video/bilibili_BV1Aj421U7Hj_cleaned.txt
未来简史/video/bilibili_BV1Aj421U7Hj.mp3
未来简史/video/bilibili_BV1Aj421U7Hj.txt
未来简史/video/bilibili_BV1B54y1f7Af_cleaned.txt
未来简史/video/bilibili_BV1B54y1f7Af.mp3
未来简史/video/bilibili_BV1B54y1f7Af.txt
未来简史/video/bilibili_BV1ex411z725_cleaned.txt
未来简史/video/bilibili_BV1ex411z725.mp3
未来简史/video/bilibili_BV1ex411z725.txt
未来简史/video/bilibili_BV1JT4y197Lp_cleaned.txt
未来简史/video/bilibili_BV1JT4y197Lp.mp3
未来简史/video/bilibili_BV1JT4y197Lp.txt
未来简史/video/bilibili_BV1SJ411m766_cleaned.txt
未来简史/video/bilibili_BV1SJ411m766.mp3
未来简史/video/bilibili_BV1SJ411m766.txt
未来简史/video/bilibili_BV1tP4y197Wz_cleaned.txt
未来简史/video/bilibili_BV1tP4y197Wz.mp3
未来简史/video/bilibili_BV1tP4y197Wz.txt
未来简史/video/bilibili_BV1Wf4y1D783_cleaned.txt
未来简史/video/bilibili_BV1Wf4y1D783.mp3
未来简史/video/bilibili_BV1Wf4y1D783.txt
未来简史/video/bilibili_BV1Wm4y1R7UJ_cleaned.txt
未来简史/video/bilibili_BV1Wm4y1R7UJ.mp3
未来简史/video/bilibili_BV1Wm4y1R7UJ.txt
未来简史/video/bilibili_BV1Yt411Y7uG_cleaned.txt
未来简史/video/bilibili_BV1Yt411Y7uG.mp3
未来简史/video/bilibili_BV1Yt411Y7uG.txt
未来简史/video/bilibili_BV1YW411J7FH_cleaned.txt
未来简史/video/bilibili_BV1YW411J7FH.mp3
未来简史/video/bilibili_BV1YW411J7FH.txt
未来简史/video/bilibili_BV17Q4y1S7g9_cleaned.txt
未来简史/video/bilibili_BV17Q4y1S7g9.mp3
未来简史/video/bilibili_BV17Q4y1S7g9.txt
未来简史/video/bilibili_BV19HqLYeECY_cleaned.txt
未来简史/video/bilibili_BV19HqLYeECY.mp3
未来简史/video/bilibili_BV19HqLYeECY.txt
未来简史/video/ytb_c0HIMce4j7E_cleaned.txt
未来简史/video/ytb_c0HIMce4j7E.mp3
未来简史/video/ytb_c0HIMce4j7E.txt
未来简史/video/ytb_DTFZWae7anA_cleaned.txt
未来简史/video/ytb_DTFZWae7anA.mp3
未来简史/video/ytb_DTFZWae7anA.txt
未来简史/video/ytb_fLl-ZwIWc4Q_cleaned.txt
未来简史/video/ytb_fLl-ZwIWc4Q.mp3
未来简史/video/ytb_fLl-ZwIWc4Q.txt
未来简史/video/ytb_jsBVazoKvAc_cleaned.txt
未来简史/video/ytb_jsBVazoKvAc.mp3
未来简史/video/ytb_jsBVazoKvAc.txt
未来简史/video/ytb_MPFh5VSlY6E_cleaned.txt
未来简史/video/ytb_MPFh5VSlY6E.mp3
未来简史/video/ytb_MPFh5VSlY6E.txt
未来简史/video/ytb_mX2Ma2WS1GQ_cleaned.txt
未来简史/video/ytb_mX2Ma2WS1GQ.mp3
未来简史/video/ytb_mX2Ma2WS1GQ.txt
未来简史/video/ytb_nL1VlmhIbXs_cleaned.txt
未来简史/video/ytb_nL1VlmhIbXs.mp3
未来简史/video/ytb_nL1VlmhIbXs.txt
未来简史/video/ytb_UoHuKb7FP58_cleaned.txt
未来简史/video/ytb_UoHuKb7FP58.mp3
未来简史/video/ytb_UoHuKb7FP58.txt
未来简史/video/ytb_vmorFk3vKT8_cleaned.txt
未来简史/video/ytb_vmorFk3vKT8.mp3
未来简史/video/ytb_vmorFk3vKT8.txt
未来简史/video/ytb_w61ZGZdBzAw_cleaned.txt
未来简史/video/ytb_w61ZGZdBzAw.mp3
未来简史/video/ytb_w61ZGZdBzAw.txt
未来简史/website/douban_8109558_cleaned.txt
未来简史/website/douban_8109558.txt
未来简史/website/douban_8246248_cleaned.txt
未来简史/website/douban_8246248.txt
未来简史/website/douban_8264518_cleaned.txt
未来简史/website/douban_8264518.txt
未来简史/website/douban_8273455_cleaned.txt
未来简史/website/douban_8273455.txt
未来简史/website/douban_8303975_cleaned.txt
未来简史/website/douban_8303975.txt
未来简史/website/douban_8304106_cleaned.txt
未来简史/website/douban_8304106.txt
未来简史/website/douban_8305558_cleaned.txt
未来简史/website/douban_8305558.txt
未来简史/website/douban_8327289_cleaned.txt
未来简史/website/douban_8327289.txt
未来简史/website/douban_8339396_cleaned.txt
未来简史/website/douban_8339396.txt
未来简史/website/douban_8383932_cleaned.txt
未来简史/website/douban_8383932.txt
未来简史/website/douban_8406129_cleaned.txt
未来简史/website/douban_8406129.txt
未来简史/website/douban_8417646_cleaned.txt
未来简史/website/douban_8417646.txt
未来简史/website/douban_8424635_cleaned.txt
未来简史/website/douban_8424635.txt
未来简史/website/douban_8432694_cleaned.txt
未来简史/website/douban_8432694.txt
未来简史/website/douban_8442578_cleaned.txt
未来简史/website/douban_8442578.txt
未来简史/website/douban_8460973_cleaned.txt
未来简史/website/douban_8460973.txt
未来简史/website/douban_8538894_cleaned.txt
未来简史/website/douban_8538894.txt
未来简史/website/douban_8559926_cleaned.txt
未来简史/website/douban_8559926.txt
未来简史/website/douban_8586832_cleaned.txt
未来简史/website/douban_8586832.txt
未来简史/website/douban_8659326_cleaned.txt
未来简史/website/douban_8659326.txt
未来简史/website/douban_9163088_cleaned.txt
未来简史/website/douban_9163088.txt
未来简史/website/douban_9483523_cleaned.txt
未来简史/website/douban_9483523.txt
未来简史/website/douban_9758040_cleaned.txt
未来简史/website/douban_9758040.txt
未来简史/website/douban_9770248_cleaned.txt
未来简史/website/douban_9770248.txt
未来简史/website/douban_12736287_cleaned.txt
未来简史/website/douban_12736287.txt
未来简史/website/douban_12908423_cleaned.txt
未来简史/website/douban_12908423.txt
未来简史/website/douban_13110715_cleaned.txt
未来简史/website/douban_13110715.txt
未来简史/website/douban_15597487_cleaned.txt
未来简史/website/douban_15597487.txt
窄门/video/bilibili_BV1CzkcYWEMD_cleaned.txt
窄门/video/bilibili_BV1CzkcYWEMD.mp3
窄门/video/bilibili_BV1CzkcYWEMD.txt
窄门/video/bilibili_BV1K24y1v7Zy_cleaned.txt
窄门/video/bilibili_BV1K24y1v7Zy.mp3
窄门/video/bilibili_BV1K24y1v7Zy.txt
窄门/video/bilibili_BV1Ku411p7H8_cleaned.txt
窄门/video/bilibili_BV1Ku411p7H8.mp3
窄门/video/bilibili_BV1Ku411p7H8.txt
窄门/video/bilibili_BV1N6HNeqEH4_cleaned.txt
窄门/video/bilibili_BV1N6HNeqEH4.mp3
窄门/video/bilibili_BV1N6HNeqEH4.txt
窄门/video/bilibili_BV1REAJeVEeJ_cleaned.txt
窄门/video/bilibili_BV1REAJeVEeJ.mp3
窄门/video/bilibili_BV1REAJeVEeJ.txt
窄门/video/bilibili_BV1V7BbYBEFV_cleaned.txt
窄门/video/bilibili_BV1V7BbYBEFV.mp3
窄门/video/bilibili_BV1V7BbYBEFV.txt
窄门/video/bilibili_BV1XP4y1z7YK_cleaned.txt
窄门/video/bilibili_BV1XP4y1z7YK.mp3
窄门/video/bilibili_BV1XP4y1z7YK.txt
窄门/video/bilibili_BV1ZEsze8EdE_cleaned.txt
窄门/video/bilibili_BV1ZEsze8EdE.mp3
窄门/video/bilibili_BV1ZEsze8EdE.txt
窄门/video/bilibili_BV15s4y1b7jj_cleaned.txt
窄门/video/bilibili_BV15s4y1b7jj.mp3
窄门/video/bilibili_BV15s4y1b7jj.txt
窄门/video/ytb_Ru0keaEM5qM_cleaned.txt
窄门/video/ytb_Ru0keaEM5qM.mp3
窄门/video/ytb_Ru0keaEM5qM.txt
窄门/website/3189200_cleaned.txt
窄门/website/3189200.txt
窄门/website/3192104_cleaned.txt
窄门/website/3192104.txt
窄门/website/3293460_cleaned.txt
窄门/website/3293460.txt
窄门/website/3309689_cleaned.txt
窄门/website/3309689.txt
窄门/website/3314873_cleaned.txt
窄门/website/3314873.txt
窄门/website/3504634_cleaned.txt
窄门/website/3504634.txt
窄门/website/4640371_cleaned.txt
窄门/website/4640371.txt
窄门/website/5309939_cleaned.txt
窄门/website/5309939.txt
窄门/website/5414380_cleaned.txt
窄门/website/5414380.txt
窄门/website/6072485_cleaned.txt
窄门/website/6072485.txt
窄门/website/6257170_cleaned.txt
窄门/website/6257170.txt
窄门/website/7426664_cleaned.txt
窄门/website/7426664.txt
窄门/website/9044682_cleaned.txt
窄门/website/9044682.txt
窄门/website/9339230_cleaned.txt
窄门/website/9339230.txt
窄门/website/9770458_cleaned.txt
窄门/website/9770458.txt
窄门/website/9813325_cleaned.txt
窄门/website/9813325.txt
窄门/website/9846925_cleaned.txt
窄门/website/9846925.txt
窄门/website/9928707_cleaned.txt
窄门/website/9928707.txt
窄门/website/12130276_cleaned.txt
窄门/website/12130276.txt
窄门/website/13601278_cleaned.txt
窄门/website/13601278.txt
窄门/website/13866400_cleaned.txt
窄门/website/13866400.txt
窄门/website/14058353_cleaned.txt
窄门/website/14058353.txt
窄门/website/14423082_cleaned.txt
窄门/website/14423082.txt
窄门/website/14847885_cleaned.txt
窄门/website/14847885.txt
窄门/website/14978913_cleaned.txt
窄门/website/14978913.txt
窄门/website/14986566_cleaned.txt
窄门/website/14986566.txt
窄门/website/15011466_cleaned.txt
窄门/website/15011466.txt
窄门/website/15015907_cleaned.txt
窄门/website/15015907.txt
窄门/website/15080925_cleaned.txt
窄门/website/15080925.txt
窄门/website/15116951_cleaned.txt
窄门/website/15116951.txt
窄门/website/15127294_cleaned.txt
窄门/website/15127294.txt
窄门/website/15141610_cleaned.txt
窄门/website/15141610.txt
窄门/website/15998074_cleaned.txt
窄门/website/15998074.txt
窄门/website/16082419_cleaned.txt
窄门/website/16082419.txt
仿生人会梦见电子羊吗/video/ytb_gWhVHXOYy_Q_cleaned.txt
仿生人会梦见电子羊吗/video/ytb_gWhVHXOYy_Q.mp3
仿生人会梦见电子羊吗/video/ytb_gWhVHXOYy_Q.txt
仿生人会梦见电子羊吗/video/ytb_L-AfjloL8Io_cleaned.txt
仿生人会梦见电子羊吗/video/ytb_L-AfjloL8Io.mp3
仿生人会梦见电子羊吗/video/ytb_L-AfjloL8Io.txt
仿生人会梦见电子羊吗/website/douban_1061614_cleaned.txt
仿生人会梦见电子羊吗/website/douban_1061614.txt
仿生人会梦见电子羊吗/website/douban_1071848_cleaned.txt
仿生人会梦见电子羊吗/website/douban_1071848.txt
仿生人会梦见电子羊吗/website/douban_2925385_cleaned.txt
仿生人会梦见电子羊吗/website/douban_2925385.txt
仿生人会梦见电子羊吗/website/douban_6258285_cleaned.txt
仿生人会梦见电子羊吗/website/douban_6258285.txt
仿生人会梦见电子羊吗/website/douban_6285679_cleaned.txt
仿生人会梦见电子羊吗/website/douban_6285679.txt
仿生人会梦见电子羊吗/website/douban_6427644_cleaned.txt
仿生人会梦见电子羊吗/website/douban_6427644.txt
仿生人会梦见电子羊吗/website/douban_6642159_cleaned.txt
仿生人会梦见电子羊吗/website/douban_6642159.txt
仿生人会梦见电子羊吗/website/douban_6668789_cleaned.txt
仿生人会梦见电子羊吗/website/douban_6668789.txt
仿生人会梦见电子羊吗/website/douban_7244170_cleaned.txt
仿生人会梦见电子羊吗/website/douban_7244170.txt
仿生人会梦见电子羊吗/website/douban_8078851_cleaned.txt
仿生人会梦见电子羊吗/website/douban_8078851.txt
仿生人会梦见电子羊吗/website/douban_8209066_cleaned.txt
仿生人会梦见电子羊吗/website/douban_8209066.txt
仿生人会梦见电子羊吗/website/douban_8821423_cleaned.txt
仿生人会梦见电子羊吗/website/douban_8821423.txt
仿生人会梦见电子羊吗/website/douban_8884575_cleaned.txt
仿生人会梦见电子羊吗/website/douban_8884575.txt
仿生人会梦见电子羊吗/website/douban_8936295_cleaned.txt
仿生人会梦见电子羊吗/website/douban_8936295.txt
仿生人会梦见电子羊吗/website/douban_8979529_cleaned.txt
仿生人会梦见电子羊吗/website/douban_8979529.txt
仿生人会梦见电子羊吗/website/douban_9772186_cleaned.txt
仿生人会梦见电子羊吗/website/douban_9772186.txt
仿生人会梦见电子羊吗/website/douban_9969792_cleaned.txt
仿生人会梦见电子羊吗/website/douban_9969792.txt
仿生人会梦见电子羊吗/website/douban_9974292_cleaned.txt
仿生人会梦见电子羊吗/website/douban_9974292.txt
仿生人会梦见电子羊吗/website/douban_10127159_cleaned.txt
仿生人会梦见电子羊吗/website/douban_10127159.txt
仿生人会梦见电子羊吗/website/douban_10221244_cleaned.txt
仿生人会梦见电子羊吗/website/douban_10221244.txt
仿生人会梦见电子羊吗/website/douban_10299107_cleaned.txt
仿生人会梦见电子羊吗/website/douban_10299107.txt
仿生人会梦见电子羊吗/website/douban_10304518_cleaned.txt
仿生人会梦见电子羊吗/website/douban_10304518.txt
仿生人会梦见电子羊吗/website/douban_10552545_cleaned.txt
仿生人会梦见电子羊吗/website/douban_10552545.txt
仿生人会梦见电子羊吗/website/douban_10628204_cleaned.txt
仿生人会梦见电子羊吗/website/douban_10628204.txt
仿生人会梦见电子羊吗/website/douban_12548723_cleaned.txt
仿生人会梦见电子羊吗/website/douban_12548723.txt
仿生人会梦见电子羊吗/website/douban_13372453_cleaned.txt
仿生人会梦见电子羊吗/website/douban_13372453.txt
仿生人会梦见电子羊吗/website/douban_14309153_cleaned.txt
仿生人会梦见电子羊吗/website/douban_14309153.txt
仿生人会梦见电子羊吗/website/douban_14600997_cleaned.txt
仿生人会梦见电子羊吗/website/douban_14600997.txt
仿生人会梦见电子羊吗/website/douban_15326493_cleaned.txt
仿生人会梦见电子羊吗/website/douban_15326493.txt
仿生人会梦见电子羊吗/website/douban_15675255_cleaned.txt
仿生人会梦见电子羊吗/website/douban_15675255.txt
仿生人会梦见电子羊吗/website/douban_15769094_cleaned.txt
仿生人会梦见电子羊吗/website/douban_15769094.txt
仿生人会梦见电子羊吗/website/douban_15838931_cleaned.txt
仿生人会梦见电子羊吗/website/douban_15838931.txt
仿生人会梦见电子羊吗/website/douban_16247629_cleaned.txt
仿生人会梦见电子羊吗/website/douban_16247629.txt
仿生人会梦见电子羊吗/website/douban_16295583_cleaned.txt
仿生人会梦见电子羊吗/website/douban_16295583.txt
仿生人会梦见电子羊吗/website/douban_16440298_cleaned.txt
仿生人会梦见电子羊吗/website/douban_16440298.txt
仿生人会梦见电子羊吗/website/douban_16442534_cleaned.txt
仿生人会梦见电子羊吗/website/douban_16442534.txt
